/**
  * O nome de classe 'circles' foi mantido baseado na rota da api utilizada,
  *  porém eu penso que este nome não é o ideal, já que as boas práticas do css
  *  dizem que não devemos criar nomes de classes baseado em aparencia, mas sim
  * na função do elemento.
**/

.list-circles {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-circles-item {
  text-align: center;
  margin: 1vw;
  position: relative;
}

.list-circles-item img {
  border: 10px solid transparent;
  display: block;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  max-width: 100%;
  transition: .5s all;
}

.list-circles-item.twitter img {
  border-color: #b23335;
}

.list-circles-item.facebook img {
  border-color: #37DD86;
}

.list-circles-item.skype img {
  border-color: #003F4A;
}

.list-circles-item .circle-size-1 {
  max-width: 40%;
}

.list-circles-item .circle-size-2 {
  max-width: 70%;
}

.list-circles-item .circle-size-3 {
  max-width: 90%;
}

.list-circles-legend {
  opacity: 0;
  background: #5A5A5A;
  display: inline-block;
  color: #fff;
  font-size: 3vw;
  padding: 10px;
  text-align: center;
  transition: .2s opacity;
  transform: translate(0, -100%);
}

.list-circles-item:hover .list-circles-legend {
  opacity: 1;
}

@media screen and (max-width: 425px) {
  .list-circles {
    flex-direction: column;
  }

  .list-circles-item {
    margin-bottom: 6vh;
  }

  .list-circles-legend {
    font-size: 3vh;
  }
}


